.box-admin{
  border-top-width: 10px;
  border-right-width: 1em;
  border-bottom-width: thick;
  border-left-width: thin;
  border-top-color: #CC0000;
 border-right-color: blue;
 border-bottom-color: #00FF00;
 border-left-color: #CCC;
}
